---
const { id } = Astro.params;

import BaseLayout from "@/layouts/BaseLayout.astro";
import { getProductPrice } from "@/lib/cart";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const product = await getEntry("products", id as string);

if (!product) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}

const price = await getProductPrice(product);
---

<BaseLayout>
  <div class="product-container">
    <Image
      src={product.data.images[0]}
      loading="eager"
      alt={product.data.name}
      height={450}
      width={450}
    />
    <div class="grid-md">
      <div class="grid-sm">
        <h1>{product.data.name}</h1>
        <p>{product.data.description}</p>
      </div>
      <div class="grid-sm">
        <p class="price">{price}</p>
        <button
          class="btn"
          data-cart
          data-action="increment"
          data-productid={product.data.id}
        >
          Add to cart
        </button>
      </div>
    </div>
  </div>
</BaseLayout>
