---
import Author from "./Author.astro";

const { data } = Astro.props;
---

<article>
  <img src={data.hero} alt={data.title} />
  <div class="content">
    <p class="badge">{data.category}</p>
    <p class="title">{data.title}</p>
    <p class="description">{data.description}</p>
    <Author
      name={data.author.name}
      avatar={data.author.avatar}
      time={data.time}
    />
  </div>
</article>
