---
import { getProductPrice, type FinalCartItem } from "@/lib/cart";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

type Props = {
  cartItem: FinalCartItem;
};

const { cartItem } = Astro.props;

const { data } = cartItem.product;

const finalPrice = await getProductPrice(cartItem.product);
---

<li class="cart-item">
  <Image src={data.images[0]} alt={data.name} height={150} width={150} />
  <div class="grid-xs">
    <p>{finalPrice}</p>
    <h2>{data.name}</h2>
    <div class="cart-button-wrapper">
      <button
        class="btn cart"
        data-cart
        data-action="decrement"
        data-productid={data.id}
        aria-label={`Remove one ${data.name} from cart`}
      >
        <Icon name="minus" width="16" height="16" />
      </button>
      <p data-quantity data-productId={data.id}>{cartItem.quantity}</p>
      <button
        class="btn cart"
        data-cart
        data-action="increment"
        data-productid={data.id}
        aria-label={`Add one ${data.name} to cart`}
      >
        <Icon name="plus" width="16" height="16" />
      </button>
    </div>
  </div>
</li>
