---
import { getProductPrice } from "@/lib/cart";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  product: CollectionEntry<"products">;
};

const { product } = Astro.props;

const price = await getProductPrice(product);
---

<li class="product-card grid-xs">
  <Image
    src={product.data.images[0]}
    alt={product.data.name}
    height={320}
    width={320}
  />
  <h2>{product.data.name}</h2>
  <p>{price}</p>
  <a href={`/product/${product.id}`} class="btn">View More</a>
</li>
